<%- include("partials/header");  %>

<section class="sec1">
  <div class="container-fluid">
    <div class="hero-content-wrap">
      <div class="row intro">
        <div class="col-lg-4 col-md-6">
          <header class="entry-header">
            <h4>Department of CS-IT</h4>
            <h1>Graphic Era<br />University</h1>
          </header><!-- .entry-header -->
          <div class="entry-content">
            <p>Graphic Era University is one of the Best University in North INDIA. <br /> Transforming Dreams into Reality.</p>
          </div><!-- .entry-content -->
        </div>


        <div class="col-lg-4 col-md-6">
          <img src="images/geu-logo.svg" alt="" class="csit-logo">
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="SignUpBox">
            <h2>Sign Up</h2>
            <form class="" action="/register" method="post">
              <p>Email</p>
              <input type="email" name="email" placeholder="Enter Email ID" autocomplete="off">
              <input type="submit" name="" value="Subscribe">
              <a class="ForgetPass" href="/unsubscribe">Turn off Notifications</a>
            </form>
          </div>
          <div class="downloadbuttons">
            <button type="button" class="btn btn-danger btn-md andriodbutton"><i class="fab fa-google-play"></i> Download</button>
            <button type="button" class="btn btn-dark btn-md applebutton"><i class="fab fa-apple"></i> Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="icon-boxes">
  <div class="container-fluid">
    <div class="flex flex-wrap align-items-stretch">

      <% FileArray.forEach(function(file){  %>

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-book-open"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title"> <%= file.heading %> </h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p> <%= file.content%> </p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href= <%= "uploads/pdfs/" + file.name %> >read more<i class=" fa fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <% }) %>

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-user-tie"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Class Cordinator for Odd-Sem 2019</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-registered"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Registration for Odd-Sem 2019</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-user-graduate"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">3rd Semester student List</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-user-clock"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">3rd Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-user-clock"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">5th Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-user-clock"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">7th Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->

      <div class="icon-box">
        <div class="icon">
          <i class="fas fa-user-clock"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">M-Tech 1st Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->


      <div class="icon-box last box">
        <div class="icon">
          <i class="fas fa-user-clock"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">M-Tech 3rd Semester Time-Table</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->


      <div class="icon-box last-box">
        <div class="icon">
          <i class="fas fa-university"></i>
        </div><!-- .icon -->

        <header class="entry-header">
          <h2 class="entry-title">Open Specilization Course Mapping</h2>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div><!-- .entry-content -->

        <footer class="entry-footer read-more">
          <a href="#">read more<i class="fa  fas fa-arrow-right"></i></a>
        </footer><!-- .entry-footer -->
      </div><!-- .icon-box -->
      </div>
    </div>
</div>


<%- include("partials/footer");  %>
