<%- include("partials/header"); -%>
<div class="container-fluid time_syll_stud_Container">
  <h1>SYLLABUS</h1>

  <h2>SYLLABUS: ALL SEMESTER</h2>
  <div class="icon-boxes">
    <div class="container-fluid">
      <div class="flex flex-wrap align-items-stretch">
        <% FileArray.forEach(function(file){ %>
          <% var FileLocation= "uploads/pdfs/" + file.name; %>
          <% var r=""; if(file.semester===1){r="st";}else if(file.semester===2) { r="nd";}else if(file.semester===3){r="rd"; }else{r="th";} %>
        <div class="icon-box">
          <div class="icon">
            <i class="fas fa-book-open"></i>
          </div><!-- .icon -->
          <header class="entry-header">
            <h2 class="entry-title">SYLLABUS- <%= file.semester  + r + " SEM "+ file.specialisation %></h2>
          </header><!-- .entry-header -->

          <div class="entry-content">
            <p> <%= file.content %> </p>
          </div><!-- .entry-content -->

          <footer class="entry-footer read-more">
            <a href= <%= FileLocation  %> target="_blank" >read more<i class="fa  fas fa-arrow-right"></i></a>
          </footer><!-- .entry-footer -->
        </div><!-- .icon-box -->

        <% }); %>

      </div>
    </div>
  </div>
</div>








<%- include("partials/footer"); -%>
